:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  --white-color: #ffffff;
  --black-color: #000000;
  --light-brown-color: #ffd1a0;
  --slogan-color: #ffc178;
  --hover-color: #ffc178;
  font-family: "Open Sans", sans-serif;
  background-image: url(../img/background.jpg);
  background-size: 100% 1574px;
  background-repeat: no-repeat;
  background-color: var(--black-color);
  font-size: 1rem;
  font-style: normal;
}

/* font-family: 'Bebas Neue', cursive;
font-family: 'Open Sans', sans-serif; */
.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: var(--white-color);
  margin-top: 28px;
  margin-left: 85px;
  margin-bottom: 200px;
}

/* Start stylesheet logo */
.logo__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5em;
  color: inherit;
}
.logo__link:hover {
  color: var(--hover-color);
}
/* End stylesheet logo */

/* Start stylesheet Nav - menu website */
.menu__list {
  display: flex;
  list-style-type: none;
}

.menu__item + .menu__item {
  margin-left: 50px;
}

.menu__item > a {
  display: block;
  padding: 0.8em 0;
  text-decoration: none;
  font-size: 1.1em;
  color: inherit;
  cursor: pointer;
}
.menu__item > a:hover {
  color: var(--hover-color);
}
/* END stylesheet Nav - menu website */

/* Start search */
.search-form {
  margin-right: 84px;
  opacity: 0.6;
}

.search-form__button {
  background-color: transparent;
  border: 0;
  color: inherit;
  font-size: 1.1rem;
  line-height: 1.4em;
  cursor: pointer;
}
/* End search */

/* Start main -> page */
.main {
  color: var(--white-color);
  padding: 0 auto;
}

.page {
  margin-bottom: 800px;
  text-align: center;
}

.page__text {
  font-size: 1.125rem;
  line-height: 1.5em;
  letter-spacing: 0.3em;
  color: var(--slogan-color);
  text-transform: uppercase;
  margin-bottom: 2em;
 

}

.page__text::before {
  content: "\2014";
}
.page__title {
  margin-bottom: 125px;
  white-space: nowrap;
  font-size: 6rem;
  line-height: 100px;
  text-transform: capitalize;
  font-weight: 400;
}

.page__title::before {
  content: "Discover";
  font-size: 6rem;
  font-weight: 700;
}
.page__scroll{
  text-decoration: none;
  cursor: pointer;
  line-height: 100px;
  text-transform: capitalize;
  color: var(--white-color);
}

.page__scroll:hover {
  color: var(--slogan-color);
}

.page__scroll-arrow::after {
  content: " \1F853";
}
/* END main -> page */

/* Article - features start */
.features {
  margin: 0 auto;
  max-width: 1460px;
  margin-bottom: 350px;
  
}

.features__img {
  float: left;
  max-width: 598px;
  max-height: 720px;
  margin-right: 232px;
  margin-left: -37px;
}

.features-text__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.features__text {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.12rem;
  line-height: 1.5em;
  letter-spacing: 0.375em;
  color: var(--slogan-color);
}

.features__text::before {
  content: "\2014";
}

.features__title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 87px;
  margin-bottom: 27px;
}

.features__desc {
  font-weight: 600;
  font-size: 1.125em;
  line-height: 2rem;
  margin-bottom: 27px;
}
/* end Article - features */

/* start slider */
/* Слайдер: */
.slider {
  max-width: 1460px;
  position: relative;
  margin: 0 auto;
  max-height: 980px;
}

.slider .item img {
  object-fit: cover;
  width: 100%;
  height: 680px;
}
.slider .previous,
.slider .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.slider .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slider .previous:hover,
.slider .next:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.slider .item {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.slider__text-wrapepr {
  position: absolute;
  top: 100px;
  left: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
 
}

.slider__text {
  text-transform: uppercase;
  color: var(--slogan-color);
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-bottom: 24px;
}
.slider__text::before{
  content: " \2014  ";
}

.slider__text::after {
  content: " \2014";
}

.slider__title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 5rem;
  max-width: 705px;
}

.slider__disc {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 2rem;
  max-width: 934px;
}

.main__link {
  font-weight: bold;
  font-size: 1.125em;
  line-height: 1.5rem;
  color: var(--slogan-color);
  text-decoration: none;
}

.main__link:hover {
  color: var(--white-color);
}

.main__link::after {
  content: "	\1F852";
}

.hidden {
  display: none;
}
